.search-container {
  max-width: 400px;
  margin: 40px auto;
}

input {
  font-size: 18px;
  padding: 8px 12px;
  width: 100%;
  color: #444;
  border-radius: 20px;
  border: none;
}

input:focus {
  outline: 2px solid rgb(42, 226, 72);
}